.form-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  height: 100%

  .form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
